@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
:root {
  --color1: #f1f4fb;
  --color2: #fff;
  --color3: #14121f;
  --color4: #14121f63;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color1);
  color: var(--color3);
  font-family: "Ubuntu", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  height: 8rem;
}
nav .part-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 1rem 2rem;
}
nav .part-1 p {
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
}
nav .part-1 form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color2);
  padding: 0.5rem 5rem 0.5rem 1rem;
  border-radius: 50px;
}
nav .part-1 form ion-icon {
  color: rgba(20, 18, 31, 0.7882352941);
  font-size: 2rem;
}
nav .part-1 form input {
  border: none;
  outline: none;
}
nav .part-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(20, 18, 31, 0.8784313725);
}
nav .part-2 .lang {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.5rem;
}
nav .part-2 .lang ion-icon {
  font-size: 1.5rem;
}
nav .part-2 .lang p {
  font-size: 1.5rem;
}
nav .part-2 > ion-icon {
  cursor: pointer;
  position: relative;
  font-size: 2.5rem;
}
nav .part-2 > ion-icon::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 0.7rem;
  height: 0.7rem;
  background-color: red;
  box-shadow: 0 0 0.3rem red;
  border-radius: 50%;
}
nav .part-2 .img {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 3rem;
}
nav .part-2 .img img {
  width: 100%;
}

header {
  display: flex;
}

aside {
  width: 9rem;
}
aside ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 3rem 0;
}
aside ul li {
  list-style: none;
  padding: 1.2rem 0;
}
aside ul li a {
  color: var(--color3);
}
aside ul li a ion-icon {
  font-size: 2.5rem;
}

section {
  width: calc(100% - 12rem);
  background-color: var(--color2);
  border-radius: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 3rem;
  padding: 3rem;
}
section .part-1 {
  margin-top: 4rem;
  grid-area: 1/1/2/3;
}
section .part-1 .part-1-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}
section .part-1 .part-1-1 > div {
  border-radius: 2.5rem;
  padding: 2rem;
}
section .part-1 .part-1-1 .card {
  max-width: 40rem;
  position: relative;
  background-image: linear-gradient(45deg, rgba(20, 18, 31, 0.8274509804), rgba(20, 18, 31, 0.9333333333), #14121f);
  color: var(--color2);
  transform: translateY(-100%);
  opacity: 0;
  animation: toUp 1s ease-in-out;
  animation-fill-mode: both;
}
section .part-1 .part-1-1 .card > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}
section .part-1 .part-1-1 .card > div:first-of-type ion-icon {
  font-size: 3.5rem;
  color: #fff;
  transform: rotate(90deg);
}
section .part-1 .part-1-1 .card > p {
  font-size: 2.3rem;
  padding: 2rem 0;
}
section .part-1 .part-1-1 .card > div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: 1.1rem;
}
section .part-1 .part-1-1 .card > div:last-of-type > p {
  line-height: 2rem;
}
section .part-1 .part-1-1 .card > div:last-of-type > p span:last-of-type {
  font-size: 1.5rem;
}
section .part-1 .part-1-1 .card::before {
  content: "Dashboard";
  position: absolute;
  top: -5rem;
  left: 1rem;
  font-size: 2.2rem;
  font-weight: 700;
  color: var(--color3);
}
section .part-1 .part-1-1 .card::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1rem;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  background-color: rgba(70, 70, 70, 0.368627451);
  bottom: -1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.5rem 1rem rgba(70, 70, 70, 0.368627451);
}
section .part-1 .part-1-1 > div:not(.card) {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color1);
  gap: 1rem;
}
section .part-1 .part-1-1 > div:not(.card) .icon {
  padding: 1rem;
  background-color: var(--color3);
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}
section .part-1 .part-1-1 > div:not(.card) p {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
section .part-1 .part-1-1 > div:not(.card) p:nth-of-type(2) {
  font-size: 1.3rem;
  font-weight: 300;
}
section .part-1 .part-1-1 .salary {
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  animation: toUp 1s 0.2s ease-in-out;
  animation-fill-mode: both;
}
section .part-1 .part-1-1 .salary .icon ion-icon {
  font-size: 3rem;
  color: var(--color2);
}
section .part-1 .part-1-1 .salary::before {
  content: "Upcoming payments";
  position: absolute;
  width: 190%;
  top: -5rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color3);
}
section .part-1 .part-1-1 .paypal {
  transform: translateY(-100%);
  opacity: 0;
  animation: toUp 1s 0.4s ease-in-out;
  animation-fill-mode: both;
}
section .part-1 .part-1-1 .paypal .icon img {
  width: 3rem;
}
section .part-1 .part-1-2 {
  padding: 2rem;
}
section .part-1 .part-1-2 .head {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
section .part-1 .part-1-2 .head > p {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}
section .part-1 .part-1-2 .head .select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
section .part-1 .part-1-2 .head .select select {
  padding: 0.5rem;
  width: 13rem;
  border: 1px solid var(--color4);
  border-radius: 0.7rem;
  outline: none;
  background-color: var(--color2);
}
section .part-1 .part-1-2 .head .select .sort {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .part-1 .part-1-2 .head .select .sort ion-icon {
  font-size: 2rem;
}
section .part-1 .part-1-2 .table .row {
  position: relative;
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color3);
  text-transform: capitalize;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr 4fr 4fr 1fr;
}
section .part-1 .part-1-2 .table .row .btnpop {
  position: relative;
  z-index: 100;
  justify-self: end;
}
section .part-1 .part-1-2 .table .row .btnpop .pop {
  background-color: var(--color3);
  color: rgba(255, 255, 255, 0.8);
  border-radius: 1.5rem;
  position: absolute;
  top: 0;
  right: 3rem;
  display: none;
}
section .part-1 .part-1-2 .table .row .btnpop .pop ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20rem;
}
section .part-1 .part-1-2 .table .row .btnpop .pop ul li {
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: 300;
  list-style: none;
  width: 97%;
  cursor: pointer;
}
section .part-1 .part-1-2 .table .row .btnpop .pop ul li:not(:last-of-type) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
section .part-1 .part-1-2 .table .row .btnpop.active .pop {
  display: flex;
}
section .part-1 .part-1-2 .table .row ion-icon {
  font-size: 3rem;
}
section .part-1 .part-1-2 .table .row ion-icon:first-of-type {
  justify-self: start;
}
section .part-1 .part-1-2 .table .row p:nth-last-of-type(2) {
  color: var(--color4);
}
section .part-1 .part-1-2 .table .row:not(:last-of-type) {
  border-bottom: 1px solid var(--color4);
}
section .part-2 {
  grid-area: 1/3/2/4;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
  border-radius: 2.5rem;
  background-color: var(--color1);
}
section .part-2 ion-icon {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  font-size: 2.5rem;
  cursor: pointer;
}
section .part-2 .editchart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.4rem;
  text-transform: capitalize;
}
section .part-2 .editchart p:first-of-type {
  color: var(--color4);
}
section .part-2 .editchart p:last-of-type {
  font-size: 2.2rem;
  font-weight: 700;
}
section .part-2 .editchart ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
section .part-2 .editchart ul li {
  list-style: none;
  color: var(--color4);
}
section .part-2 .editchart ul li.active {
  color: var(--color3);
  font-weight: 700;
}
section .part-2 .wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .part-2 .wrapper .canvas {
  position: relative;
  width: 100%;
}
section .part-2 .wrapper .canvas .note {
  width: 100%;
}
section .part-2 .planProgress {
  width: 85%;
  max-width: 50rem;
  padding: 1.5rem;
  background-color: var(--color3);
  color: var(--color2);
  border-radius: 2rem;
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  transform: translateY(100%);
  opacity: 0;
  animation: toUp2 1s ease-in-out;
  animation-fill-mode: both;
}
section .part-2 .planProgress ::after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: rgba(70, 70, 70, 0.1529411765);
  top: -0.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
section .part-2 .planProgress ::before {
  content: "";
  position: absolute;
  width: 60%;
  height: 1rem;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  background-color: rgba(70, 70, 70, 0.0745098039);
  top: -1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
section .part-2 .planProgress .text {
  font-size: 1.4rem;
  text-transform: capitalize;
}
section .part-2 .planProgress .text p:first-of-type {
  color: rgba(197, 197, 197, 0.3882352941);
  padding-bottom: 0.5rem;
}
section .part-2 .planProgress .text p:last-of-type {
  font-size: 1.6rem;
  font-weight: 700;
}
section .part-2 .planProgress .circlOut {
  background-image: linear-gradient(to right, var(--color3), var(--color2), var(--color2));
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .part-2 .planProgress .circlOut .circlIn {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: var(--color3);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1200px) {
  section {
    grid-template-columns: 1fr;
  }
  section .part-1 {
    grid-area: 1/1/2/2;
  }
  section .part-2 {
    grid-area: 2/1/3/2;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 800px) {
  section .part-1 .part-1-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  section .part-1 .part-1-1 .card {
    grid-area: 1/1/2/3;
    margin-bottom: 3rem;
    justify-self: center;
    width: 80%;
    max-width: 40rem;
  }
  section .part-1 .part-1-1 .salary {
    grid-area: 2/1/3/2;
  }
  section .part-1 .part-1-1 .paypal {
    grid-area: 2/2/3/3;
  }
  section .part-1 .part-1-2 {
    padding: 0;
  }
  section .part-1 .part-1-2 .table .row {
    grid-template-columns: 1fr 2fr 3fr 2fr 1fr;
  }
}
@keyframes toUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes toUp2 {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */